* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #F0F2F0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #f0f2f0 , #000C40);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top,#f0f2f0 , #000C40); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

header h1 {
    color: #999;
    text-align: center;
    margin-top: 15px;
}

#input-form {
    align-items: center;
}